%h2 Chat
= $this->assign('title_for_layout', "chat")
= $this->Form->create('Chat-form', array('type'=>'post'))
= $this->Form->input('text', array('class'=>'p-chat__text'))
= $this->Js->submit('Send', array('class'=>'p-chat__submit-button', 'before'=>$this->Js->get('#sending')->effect('fadeIn'),'success'=>$this->Js->get('#sending')->effect('fadeOut')))
= $this->Form->end();

#sending{ :style => "display: none" } sending
.chat-area
